<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>contact Abdulaziz</title>
  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <link rel="stylesheet" href="/css/style.css" media="all" />
  <!-- <script src="/js/script.js"></script> -->

  
  <!-- Include Font Awesome CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-..."
    crossorigin="anonymous"
  />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
    integrity="sha384-..."
    crossorigin="anonymous"
  ></script>
</head>
<body class="clearfix">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="nav-links">
        <div class="logo">
          <a href="/" class="logo-link">
            <img
              src="/images/logo.png"
              height="80px"
              width="80px"
              alt="logo"
              class="inner-logo-pic"
            />
          </a>
        </div>
        <li class="about"><a href="/about">about</a></li>
        <li class="portfolio"><a href="/portfolio">portfolio</a></li>
        <li class="skill"><a href="/skill">skill</a></li>
        <li class="project"><a href="/project">project</a></li>
        <li class="contact"><a href="/contact">contact</a></li>
        <li>
          <ul class="social">
            <li>
              <a
                href="#"
                title="Follow me on GitHub"
                target="_blank"
                class="github-icon"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                title="Connect with me on Linkedin"
                target="_blank"
                class="linkedin-icon"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                title="Follow me on Twitter"
                target="_blank"
                class="twitter-icon"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                title="Follow me on Instagram"
                target="_blank"
                class="instagram-icon"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class= "error">
    <h1 style="font-size: xx-large; margin-bottom: 15px;">Page Not Found</h1>
    <p>The requested page could not be found.</p>
    <p>Please try later</p>
  </div>

  <footer id="footer" role="contentinfo">
    <div class="row">
      <div class="col-12">
        <div class="left">
          <a class="transition" href="#">&copy; 2023 Abdul Aziz</a>
        </div>
        <nav id="nav-footer">
          <ul>
            <li class="about"><a href="/about">about</a></li>
            <li class="portfolio"><a href="/portfolio">portfolio</a></li>
            <li class="skill"><a href="/skill">skill</a></li>
            <li class="project"><a href="/project">project</a></li>
            <li class="contact"><a href="/contact">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="gradient-white">
      <a class="top" href="#">Back to top</a>
    </div>
  </footer>
</body>
</html>
